<header>
  <nav>
    <ul class="nav">
      <li><a href="/inv/type/all">Home</a></li>
      <li><a href="/inv/type/custom">Custom</a></li>
      <li><a href="/inv/type/sedan">Sedan</a></li>
      <li><a href="/inv/type/sport">Sport</a></li>
      <li><a href="/inv/type/suv">SUV</a></li>
      <li><a href="/inv/type/truck">Truck</a></li>
    </ul>
  </nav>
</header>




  